name: Build
on:
  release:
    types:
    - created # on push does not work and `on: release` triggers 3 builds
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [ 'amd64', 'arm64' ]
        os: [ 'linux', 'darwin' ]
    name: ${{ matrix.os }} ${{ matrix.arch }}
    steps:
    - uses: actions/checkout@master
    - name: add version
      run: sed -i s/"master"/"${GITHUB_REF##*/}"/ main.go
    - name: compile and release
      uses: wangyoucao577/go-release-action@v1.28
      env:
        CGO_ENABLED: "0" # support alpine
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goarch: ${{ matrix.arch }}
        goos:  ${{ matrix.os }}
        ldflags: "-s -w"
